#sensor-data-chart-center{
  display: flex;
  justify-content: center;
}
#sensor-data-chart{
  width: 100%;
}
/*Line char's SVG*/
img{
  max-width: 100%;
  height: auto;
}
select{
  background-color: #CE93D8;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;
}
select option:checked{
  box-shadow: 0 0 10px 100px #AB47BC inset;
}
select:focus > option:checked { 
  background: #AB47BC!important;
}
